<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assisticant" version="1.5.6" targetFramework="net472" />
  <package id="Assisticant.Facades" version="1.1.0.0" targetFramework="net472" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net472" />
  <package id="Elysium.Theme" version="2.0.4" targetFramework="net472" />
  <package id="EmguCV" version="3.1.0.1" targetFramework="net472" />
  <package id="Fody" version="2.5.0" targetFramework="net472" developmentDependency="true" />
  <package id="Infragistics.Themes.MetroLight.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="2.1.4" targetFramework="net472" developmentDependency="true" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>